{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memora</title>
    <link href="{% static 'Bootstrap/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font/Manrope/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>

<body>
    <div class="authorization-all">
        <div class="background-authorization">
            <div class="wrapper">
                <div class="container">
                    <div class="banner-all">
                        <img src="{% static 'img/Logo_1.svg' %}" alt="Logo_1" class="logo-authorization">
                        <div class="text-banner">Твои идеи заслуживают идеального порядка</div>
                    </div>
                </div>
            </div>
        </div>

        <section class="form">
            <div class="form-text-top">

                <div class="inlet"> Смена пароля</div>

            </div>

            <form method="post" action="{% url 'users:password_change' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Логин</label>
                    {{ form.email }}
        {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors }}</div>
        {% endif %}
                </div>
                <div class="mb-3">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Придумайте пароль</label>
                    {{ form.password }}
        {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors }}</div>
        {% endif %}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Повторите пароль</label>
                    {{ form.password2 }}
        {% if form.password2.errors %}
            <div class="text-danger">{{ form.password2.errors }}</div>
        {% endif %}
                </div>
                <div class="but2">
                      <button type="submit" class="btn btn2-primary">Отправить</button>
                </div>
            </form>
        </section>
    </div>
</body>

</html>