{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'Bootstrap\bootstrap.min.css' %}">
    {% comment %} css  {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="sticky-top">
        <div class="header-container d-flex">
            <navbar class="header-nav pt-4">
                <ul class="header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Home</a>
                    </li>
                      <li>
                        <a href="#" class="nav-a m-3">Note</a>
                    </li>
                </ul>

            </navbar>
            <div class="header-logo">
                <a href="/"><img src="{% static 'img\Logo_1.svg' %}" alt="" clas="Memora-logo"></a>
            </div>
            <div class="header-profile">
                <a href="#" class="m-2">LOGIN</a>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <script>src="{% static 'Bootstrap\bootstrap.bundle.min.js' %}"</script>
</body>
</html>
