{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memora</title>
    <link href="{% static 'Bootstrap/bootstrap.min.css" rel="stylesheet' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font/Manrope/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>
<body>
    <form method="POST">
      {% csrf_token %} 
      <a href="{% url 'add_note' %}" class="btn btn2-primary">Добавить заметку</a>
      <p>Категория: {{p.cat.name}}</p>
      <ul>
        {% for note in notes %}
            <li>
                <h2>{{ note.title }}</h2>
                <p>{{ note.content }}</p>
                <p>{{ note.category}}</p>
                <p>{{ note.favourite }}</p>
            </li>
        
        {% endfor %}
    </ul>
      
      
    </form>
</body>
</html> 