{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memora</title>
    <link href="{% static 'Bootstrap/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font/Manrope/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/VE6j5r6wUew655+CL1zeR89tS/Eg4EGxQqvP2K" crossorigin="anonymous"></script>


    <script src="{% static 'Bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>

<body style="background-color: #111827;">
    <header>
        <div class="heder-all">
            <img src="{% static 'img/logo_header.svg' %}" alt="Logo_header" class="logo_header">
            <div class="container">
                <div class="button-all">
                    {% for m in menu %}
                    <a href="{% url m.url_name %}">
                        <button class="my-btn">{{ m.title }}</button>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="account-all">
                <a href="#" class="leave-header">Выйти</a>
                <img src="{% static 'img/akk.svg' %}" alt="account" class="account">
            </div>
        </div>
    </header>

    <form method="post" style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    
    ">
        <textarea id=" note-edit" name="note-edit"></textarea>
        <button type="submit" class="send-note">
        Отправить</button>
    </form>

    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace('note-edit', {
            height: '620px',
            width: '95%',
            removePlugins: 'resize'
        });
    </script>



</body>

</html>